/**
 * Bootstrap Overrides
 */
.container {
    max-width: 730px;
}

/**
 * Custom Styles
 */
.timer {

    &-row {
        display: flex;
        align-items: baseline;
    }

    &-stats {
        max-width: 160px;
    }

    &-close {
        color: #e74c3c;
        margin-right: 10px;

        &:hover {
            color: #2c3e50;

            .active & {
                color: #ffffff;
            }
        }
    }

    &-play,
    &-pause {
        margin-left: 10px;
    }

    &-title {
        flex-grow: 1;
    }

    &-options {
        margin: 0 15px 0 20px;
    }
}

.daily-stats {
    text-align: right;
}
